* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #cccccc;
}

code {
  color: green;
}

.git-hub-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  background-color: #3904f8;
  border-radius: 20px;
  margin-top: 1%;
  -webkit-box-shadow: 4px 4px 2px grey;
          box-shadow: 4px 4px 2px grey;
}

.git-hub-link:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.125em;
}

.message-box {
  background-color: white;
  display: inline-block;
  margin-top: 5px;
  width: 50%;
  margin-left: 10px;
  line-height: 20px;
  padding: 1em;
  position: relative;
  text-align: left;
  border: 5px solid silver;
  border-radius: 10px;
}

.message-box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid silver;
  border-left: 5px solid silver;
  border-right: 5px solid transparent;
}

.sound-wave {
  display: inline-block;
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid silver;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*Desktop*/
@media only screen and (min-width: 992px) {
  .for-mobile {
    display: none !important;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  line-height: 40px;
  height: 40px;
  -webkit-box-shadow: 2px 2px 4px #f3f3f3;
          box-shadow: 2px 2px 4px #f3f3f3;
  background-color: white;
  font-size: 1.25em;
  z-index: 1;
}

nav #btn-side-menu .sound-wave {
  -webkit-animation: sound-wave 0.8s linear 5;
          animation: sound-wave 0.8s linear 5;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-weight: bold;
}

nav a, nav button {
  text-decoration: none;
  color: black;
  background-color: inherit;
}

nav button {
  border: none;
  font-size: inherit;
}

nav button:focus {
  outline: none;
}

nav a:hover, nav button:hover {
  background-color: #1e075e !important;
  color: white !important;
  outline: none !important;
}

nav .top-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav .top-menu a {
  color: black;
  display: inline-block;
  padding: 0 2%;
}

nav .top-menu > li:first-child {
  padding-left: 2%;
  text-align: left;
  font-size: 1.25rem;
}

nav .top-menu > li {
  float: left;
  text-align: center;
  width: 25%;
}

nav .top-menu .logo {
  text-shadow: 1px 1px 1px silver;
}

nav .top-menu .logo span:first-child {
  color: #1e075e;
}

nav .top-menu .logo span:last-child {
  color: black;
}

nav .top-menu #btn-contact {
  position: relative;
}

nav .top-menu #contact {
  position: fixed;
  top: 40px;
  right: 2%;
  -webkit-box-shadow: 1px 1px 2px,-1px -1px 2px;
          box-shadow: 1px 1px 2px,-1px -1px 2px;
  background: #1e075e;
  display: none;
  overflow: hidden;
  border: 2px solid silver;
  border-radius: 10px;
  color: ghostwhite;
}

nav .top-menu #contact li {
  font-size: 16px !important;
  font-weight: bold;
  text-align: left;
  padding: 2px;
  border-bottom: 1px solid silver;
}

nav .top-menu #contact li:first-child {
  text-align: center;
}

nav .top-menu #contact li .fa-phone {
  -webkit-animation: phoneAlert 0.4s ease infinite alternate;
          animation: phoneAlert 0.4s ease infinite alternate;
}

nav .top-menu #contact li span {
  display: inline-block;
  color: white;
}

nav .top-menu .sound-wave {
  -webkit-animation: sound-wave 0.8s linear 5;
          animation: sound-wave 0.8s linear 5;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

nav .side-menu {
  background-color: #f3f3f3;
  line-height: initial;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100vh - 40px);
  overflow-y: auto;
  -webkit-box-shadow: 2px 2px 2px #f3f3f3;
          box-shadow: 2px 2px 2px #f3f3f3;
  -webkit-transition: margin 0.8s;
  transition: margin 0.8s;
  overflow-x: hidden;
  width: 100%;
}

nav .side-menu .header {
  background-color: #1e075e;
  color: white;
  padding: 1%;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5px;
}

nav .side-menu a, nav .side-menu button {
  display: block;
  margin: 1%;
  padding: 2%;
  padding-left: 5%;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: black;
  background-color: white;
}

nav .side-menu ul a, nav .side-menu ul button {
  padding-left: 10%;
}

nav .side-menu-ml {
  margin-left: -100%;
}

.page {
  margin-top: 45px;
  border-radius: 10px;
  background-color: white;
  padding: 2%;
  min-height: 50vh;
}

.page h1 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 900;
  -webkit-box-shadow: -2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;
          box-shadow: -2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(white));
  background-image: linear-gradient(to right, #f3f3f3, white);
  border-radius: 10px;
}

.page h2 {
  font-size: 1.125rem;
}

.page h3 {
  font-size: 1rem;
}

#about-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));
  background-image: linear-gradient(white, #f3f3f3);
  overflow: hidden;
}

#about-page .profile-image-frame {
  width: 250px;
  height: 250px;
  display: inline-block;
  border: 5px solid silver;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  background-color: #f3f3f3;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
  -webkit-animation: spin-image 2s linear 1;
          animation: spin-image 2s linear 1;
}

#about-page .name {
  font-weight: 900;
  font-size: 1.25em;
}

#about-page .description {
  padding: 2%;
  margin: 2%;
  border: 5px solid silver;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
  position: relative;
  overflow: hidden;
}

#about-page .description .door {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  -webkit-animation: open-description 2s linear 1;
          animation: open-description 2s linear 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(silver), to(white));
  background-image: linear-gradient(silver, white);
  border-radius: 10px;
  border-top: 10px solid #555a5e;
}

footer {
  margin-top: 45px;
  margin-bottom: 2%;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(#f3f3f3));
  background-image: linear-gradient(to right, white, #f3f3f3);
  border-radius: 10px;
  padding: 2%;
}

footer .social-links-group {
  text-align: center;
}

footer .social-links-group .social-link {
  margin: 1%;
  border: 2px solid silver;
  border-radius: 10px;
  background-color: #f3f3f3;
  overflow: auto;
}

footer .social-links-group .social-link b {
  border-bottom: 1px solid silver;
  font-weight: 900;
}

footer .social-links-group .social-link a {
  text-decoration: none;
  font-weight: bold;
}

footer .social-links-group .social-link a, footer .social-links-group .social-link b {
  display: block;
  padding: 1%;
}

@-webkit-keyframes open-description {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes open-description {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes spin-image {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(3600deg);
            transform: rotateZ(3600deg);
  }
}

@keyframes spin-image {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(3600deg);
            transform: rotateZ(3600deg);
  }
}

@-webkit-keyframes sound-wave {
  0% {
    width: 0;
    height: 0;
    border: 2px solid silver;
  }
  100% {
    width: 50px;
    height: 50px;
    top: calc(50%-25px);
    left: calc(50%-25px);
  }
}

@keyframes sound-wave {
  0% {
    width: 0;
    height: 0;
    border: 2px solid silver;
  }
  100% {
    width: 50px;
    height: 50px;
    top: calc(50%-25px);
    left: calc(50%-25px);
  }
}

@media only screen and (min-width: 900px) {
  nav .side-menu {
    width: 30%;
    overflow-x: initial;
  }
  nav .side-menu a, nav .side-menu button {
    padding: 1%;
    margin: 0%;
    margin-top: 1%;
  }
}
/*# sourceMappingURL=webstyles.css.map */