@import "awe";
nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100vw ;
    line-height:40px;
    height:40px;
    box-shadow:2px 2px 4px #f3f3f3;
    background-color:white;
    font-size:1.25em;
    z-index:10;
    ul{
        list-style:none;
        margin:0;
        padding:0;
        li{
            font-weight:bold;
        }
    }
    a,button{
        text-decoration:none;
        color:black;
        background-color:inherit;
    }
    
    button{
        border: none;
        font-size:inherit;
        &:focus{
            outline:none;
        }
    }
    a:hover,button:hover{
        background-color:$theme-color !important;
        color:white !important;
        outline:none !important;
        cursor:pointer;
    }
    .top-menu{
        padding:0;
        margin:0;
        list-style:none;
        a{
            color: black;
            display:inline-block;
            padding:0 2%;
        }
        > li:first-child{
            padding-left: 2%;
            text-align:left;
            font-size:1.25rem;
        }
        > li{
            float:left;
            text-align:center;
            width:25%;
        }
        .logo{
            text-shadow: 1px 1px 1px silver;
            span{
                &:first-child{
                    color:$theme-color;
                }
                &:last-child{
                    color:black;
                }
            }
        }
        #btn-contact{
            position: relative;
        }
        #contact{
            position:fixed;
            top:40px;
            right:2%;
            box-shadow:1px 1px 2px,-1px -1px 2px;
            background:white;
            display:none;
            overflow:hidden;
            border:5px solid rgb(138, 186, 226);
            z-index: 11;
            border-radius:10px;
            li{
                font-size:16px !important;
                font-weight: bold;
                text-align: left;
                padding:2px;
                border-bottom:1px solid silver;
                &:first-child{
                    text-align: center;
                }
               a{
                   &:hover{
                       color:yellow !important;
                   }
               }
            }
        }
    }
    
    .side-menu{
        background-color:#f3f3f3;
        line-height:initial;
        margin:0;
        position:absolute;
        top: 40px;
        left:0;
        height:calc(100vh - 40px);
        overflow-y:auto;
        box-shadow:2px 2px 2px #f3f3f3;
        transition:margin 0.8s;
        overflow-x:hidden;
        width:100%;
        a,button{
            display:block; 
            margin:1%; 
            padding:2%;
            padding-left: 5%;
            width:100%;
            text-align:left;
            font-weight:bold;
            color:black;
            background-color:white;
        }
        ul{
            a,button{
                padding-left:10%;
            }
        }
        
    }
    .side-menu-ml{
        margin-left:-100%;
    }
}
.page{
    margin-top:45px;
    border-radius:10px;
    background-image: linear-gradient(to right,white,rgb(235, 236, 243));
    padding:2%;
    min-height:50vh;
    h1{
        font-size:1.25rem;
        text-align:center;
        font-weight:900;
        box-shadow:-2px -2px 2px #f3f3f3,2px 2px 2px #f3f3f3;
        background-color: white;
        border-radius:10px;
    }
    h2{
        font-size:1.125rem;
    }
    h3{
        font-size:1rem;
    }
   
}
#about-page
{
    overflow: hidden;
    .profile-image-frame
    {
        width:250px;
        height:250px;
        display:inline-block;
        border:5px solid rgb(170, 203, 212);
        border-radius:50%;
        overflow: hidden;
        text-align:center;
        background-color:#e4e9eb;
        box-shadow:2px 2px 2px;
    }
    .name{
        font-weight:bold;
        font-size: 1.125em;
        .nickname{
            font-size:0.875rem;
            display: inline-block;
            color: rgb(107, 104, 104);
        }
    }
    .description{  
        padding:2%;
        margin:2%;
        border:5px solid rgb(170, 203, 212);
        border-radius:10px;
        box-shadow:2px 2px 2px;
        position: relative;
        overflow:hidden;
        background-image: linear-gradient(to right,white,#f3f3f3);
        p{
            opacity:0.2;
            animation: set-opacity 0.5s linear 1;
            animation-fill-mode: forwards;
            &:nth-child(1)
            {
                animation-delay: 0.5s;
            }
            &:nth-child(2)
            {
                animation-delay: 1s;
            }
            &:nth-child(3)
            {
                animation-delay: 1.5s;
            }
            &:nth-child(4)
            {
                animation-delay: 2s;
            }
            &:nth-child(5)
            {
                animation-delay: 2.5s;
            }
        }    
    }
}
#pedal-cart-page{
    img{
        border-radius:10px;
    }
}
#online-store-page{
    background-color: #f3f3f3;
    .store-img-container{
        border-radius:25px;
        box-shadow:-2px -2px 2px silver,2px 2px 2px silver;
        margin:2%;
        padding:1%;
        overflow: auto;
        background-color: white;
    }
}
.project-info{
    border-radius:10px;
    box-shadow:2px 2px 2px silver;
    background-color: white;
    h2{
        text-align: center;
        padding:1%;
    }
}
footer{
    margin-top: 45px;
    margin-bottom:2%;
    background-image:linear-gradient(to right,white,silver);
    border-radius:10px;
    padding:2%;
    .social-links-group{
        text-align:center;
        a{
            text-decoration:none;
        }
        .social-link{
            overflow: auto;
            a,b{
                display:inline-block;
            }
        }
    }
}
@keyframes set-opacity {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
@media only screen and(min-width:900px)
{
    nav{
        line-height:30px;
        height:30px;
        font-size:1em;
        .side-menu{
            width:100%;
            height:initial;
            line-height: inherit;
            overflow: initial;
            box-shadow:2px 2px 2px #e2dfdf;
            top: 32px;
            a,button{
                padding:1%;
                margin:0%;
                margin-top:1%;
            }
            > li {
                float: left;
                width:25%;
                position:relative;
                background-color: #edf4f8;
                a,button{
                    text-align: center;
                    background-color: inherit;
                }
                ul{
                    position:absolute;
                    background-color: inherit;
                    width:100%;
                    top:100%;
                    left:0;
                    a,button{
                        text-align: left;
                    }
                }

            }

        }
    }
    
}